@use "./variables.scss" as *;

.elm-ct {
  /*Display*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.ver {
  /*Display*/
  flex-direction: column;
}

.hor {
  /*Display*/
  flex-direction: row;
}

.main-ctn {
  /*Dimensions*/
  height: 100%;
  width: 100%;

  /*Display*/
  flex: 1;
}

.link {
  /*Style*/
  text-decoration: none;
}

.sr-only {
  /*Position*/
  position: absolute;

  /*Dimensions*/
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;

  /*Style*/
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
