@use "./variables.scss" as *;

h1,
h2,
h3,
h4,
h5,
ul {
  /*Dimensions*/
  margin: 0;
}

.elm-ct {
  /*Display*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.ver {
  /*Display*/
  flex-direction: column;
}

.hor {
  /*Display*/
  flex-direction: row;
}

.main-ctn {
  /*Dimensions*/
  height: 100%;
  width: 100%;
  flex: 1;
}

.link {
  /*Style*/
  text-decoration: none;
}
