@use "../../variables.scss" as *;

header {
  width: 100%;
  padding: 5px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $blk;
  background-color: $wht;
}

.a-logo {
  /*Pour éviter les 4px de trop*/
  font-size: 0;
}

header img {
  max-width: 100%;
  width: 200px;
}
